<%= provide(:title, 'Help') %>
<h2>Magic roomの使い方</h2>
<p>Magic roomでは匿名の質問だけではない様々な機能が使用できます!</p>

<h4>アカウント作成・ログイン</h4>
<p>Magic roomで質問するにはアカウントが必要です。</p>
<p>以下のページでアカウントを作成・ログインしてください</p>
<!--signup page links-->
