<%= provide(:title, 'Home') %>
<div class="jumbotron  center container">
  <h1>Magic room</h1>
  <p>Magic roomは誰でもどんなことでも気軽に相談できる質問サイトです。</p>
  <p>さっそく質問してみましょう!</p>
  <%= link_to "アカウント作成", signup_path , class:"btn btn-lg btn-primary" %>
</div>
